*{padding: 0; 
    margin:0;} 
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,500&family=Roboto:ital,wght@0,300;1,300&display=swap');
    
    body{
        
        background:#161819 ;
        font-family: 'Poppins', sans-serif;
       
    }
    .conteiner{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; /*para centralizar*/
    padding: 0 15px;
    }
    .navegation-itens, .nav-left, .nav-right{
        display: flex;
        color:white;
        align-items: center;
        flex-wrap: wrap;
    }
    .navegation{
       display: flex;
       justify-content: space-between;
       width: 100%;
        flex-wrap:wrap ;
    
    }
    .title {
        font-weight: 500;
        margin-bottom: 20px;
        text-align: center;
    }
    .subititle{
        margin-bottom: 40px;
        color: rgba(255, 255, 255, 0.467) ;
        text-align: center;
        font-weight: 100;
    }
    .naoFoi {
        text-align: center;
    }
    ul.navegation-itens a {
        text-decoration: none;
        color: white;
    }
    ul.navegation-itens {
        display: flex;
        color: white;
        margin: 0px 10px;
        padding: 20px;
        list-style: none;
        cursor: pointer;
    
        gap: 25px;
        font-size: 25px;
        flex-wrap: wrap;
    }
    
     .navegation .button{
        padding: 10px;
        
        border-radius: 10px;
        cursor: pointer;

     }
    

    .button-a a {
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 10px 20px;
        border-radius: 5px;
    }
   
    
   .button-a a:hover{
        background-color: white;
        color: black;
        transition: 1s;
        
    }
    
    .main-content{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
    
    }
    .main-info .title{
        color: white;
        text-align: center;
        font-size:48px ;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
    .main-info .subtitle{
        color: rgb(255, 255, 255);
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        opacity: 0.2;
        margin: 51px;
    }
    
    .main-Search {
        
    width: 100%;
        
    margin: 1px 20px 1px 20px;
        
    padding: 5px 10px 5px 10px;
        
    max-width: 980px;
    }
    
    .search-bar{
        display: flex;
        width: 100%;
        justify-content: space-between;
        background:#252728 ;
        border-radius: 10px;
    }
    .search-select select {
        background:linear-gradient(#F473A3, #F473A3);
        border:none;
        padding: 10px;
        margin: 10px 0px 10px 10px;
        color: #fff;
        border-radius: 10px;
        font-weight: 500;
    
    
    }
     .search-input{
        width: 100%;
        background: transparent;
        border:none;
        color: #ccc;
        margin-left: 10px;
        font-size: 14px;
      
        }
        
        .search-icon{
            padding: 10px;
        }
        input:focus{
            outline:none;
        }
        .results-area{
            display: flex;
            justify-content: center;
            overflow-x: auto;
            max-width: 100%;
            text-align: center;
        }
        .results-item{
            margin: 10px;
            padding: 5px;
            background-color:#080808 ;
            border-radius: 15px;
        }
        .results-item img {
            min-height: 450px;
            max-height: 450px;
            max-width: 320px;
           
        }
        .results-item h3, .results-item p{
            color: #ffff;
            text-align: center;
        }
        .results-area h2  {
            color: #fff;
        }
        ::-webkit-scrollbar, .results-area{
            background:#161819;
        }
    ::-webkit-scrollbar-track{
        border: 1px solid #ffff;
        border-radius: 15px;
        
    
    }
    ::-webkit-scrollbar-thumb{
        background-color: black;
        border-radius:10px;
        margin: 50px 100px 50px 100px;
    }
    @media screen and (max-width:700px){
        ul.navegation-itens {
            display: flex;
            color: white;
            margin: 0px 10px;
            padding: 20px;
            list-style: none;
            cursor: pointer;
            /* width: 20px; */
            gap: 25px;
            font-size: 15px;
            flex-wrap: wrap;
        }
        .navegation{
            display: flex;
            justify-content: center;
            width: 100%;
             max-width: 980px;
             flex-wrap:wrap ;
         
         }
         .main-info .title{
            color: white;
            text-align: center;
            font-size:30px ;
            font-weight: 600;
            display: flex;
            justify-content: center;
        }
    }